# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore environment files
.env

# Ignore logs
*.log

# Ignore node modules
node_modules/

# Ignore build or compiled files
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db
